/* Imported fonts */
@font-face {
    font-family: primary;
    src: url(../fonts/ballmer_architype.otf);
}

@font-face {
    font-family: secondary;
    src: url(../fonts/pattanakarn_medium.ttf);
}

/* Asterisk wildcard selector: overrides default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #272727;
    font-family: 'secondary', sans-serif;
}

header {
    background-color: #05040a;
    padding: 0 1rem;
    position: sticky;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 0;
    left: 0;
    z-index: 999;
}

header a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'primary', sans-serif;
    text-transform: lowercase;
}

a img {
    width: 125px;
    margin-top: 0.5em;
    margin-bottom: -1em;
}

h1,
h2 {
    font-family: 'primary', sans-serif;
    letter-spacing: 3px;
    padding: 0.4em;
    text-transform: lowercase;
}

#menu {
    text-decoration: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    font-size: 125%;
}

#menu>li {
    margin-bottom: 0.5em;
}

#menu a {
    opacity: 0.8;
    transition: opacity 0.3s;
}

#menu a:hover {
    opacity: 1;
}

.active {
    text-decoration: underline #ffffff;
}

/* Navbar styles */

nav {
    position: absolute;
    background-color: #05040a;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* Nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2em;
}

main {
    background: url('../images/background.jpg') no-repeat center center/cover;
    flex: 1 0 auto;
}

section {
    text-align: center;
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    padding: 5%;
}

#main-content {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    margin: 5% 5% 30px;
    box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    padding: 5%;
}

#main-content h2 {
    font-family: 'primary', sans-serif;
    font-size: 160%;
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
}

#main-content p {
    font-weight: 400;
    text-align: center;
}

#yt-video {
    text-align: center;
    margin: 0 5% 10%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    padding: 5%;
}

#yt-video h2 {
    font-family: 'primary', sans-serif;
    font-size: 160%;
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
}

ol>li {
    margin-left: 5%;
}

/* Form text boxes, bg colors standard and when being used */
form input,
form textarea {
    border: 2px solid #ffffff;
    border-radius: 3px;
    padding: 3px 0;
}

form input:focus,
form textarea:focus {
    background-color: #95fffa;
}

form a {
    color: #ffffff;
}

.subscription-button {
    padding: 12px 28px;
    background-color: #ffffff;
    font-family: 'primary', sans-serif;
    text-transform: lowercase;
}

ol>li {
    margin-bottom: 20px;
}

.button {
    padding: 12px 28px;
    background-color: #ffffff;
    font-family: 'primary', sans-serif;
    text-transform: lowercase;
    border: 2px solid #ffffff;
    border-radius: 3px;
    position: fixed;
    bottom: 1%;
    right: 2%;
    text-decoration: none;
    color: #000000;
}

/* Container for flip cards */

#flip-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

/* Creating flipcards (Credit to w3schools.com with assistance on creating these) */

/* Setting size of flipcards */

.flip-card {
    height: 300px;
    width: 250px;
    /* Adds 3d effect to animation */
    perspective: 1000px;
    margin: 5% 50px;
}

/* Positioning front and rear side of flip card */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.2s;
    transform-style: preserve-3d;
}

/* Do horizontal flip when mouse hovering, mirror image to ensure image is legible */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg) scaleX(-1);
}

/* Position front and back */

.flip-card-front {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}

/* Front & back side styling if no image present */

.flip-card-front,
.flip-card-back {
    background-color: #05040a;
    color: #ffffff;
    height: 100%;
    border-radius: 5px;
}

iframe {
    width: 252px;
    height: auto;
}

/* Styling the table */
table {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 30px;
    border-collapse: collapse;
    box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 10px;
}

/* Styling the table header and data */
th, td {
    padding: 6px;
    text-align: center;
}

th {
    background-color: rgba(255, 255, 255, 0.8);
    color: #05040a;
}

td {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#flip-container img {
    border-radius: 5px;
}

.image {
    box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Styling the timeline */
.timeline {
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.v-line {
    border-left: 6px solid #ffffff;
    left: 50%;
    height: 1300px;
    position: absolute;
    animation: moveline 8s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0%;
    }
    100% {
        height: 1300px;
    }
}

.left-container, .right-container {
    position: relative;
    padding: 10px 20px;
    margin: 10px 0;
    width: 50%;

}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin: 0 20px;
}

/* Styling the timeline images */
.tl-image-l, .tl-image-r {
    position: absolute;
    width: 50px;
    border-radius: 50%;
    margin-left: -20px;
    /* Ensures image is hidden prior to animation */
    opacity: 0;
}

.tl-image-l {
    left: 100%;
}

.tl-image-r {
    left: 0;
}

/* Creating animation for images */

.fade1 {
    animation: fade-in 3s;
    /* Ensures image doesn't become hidden after animation */
    animation-fill-mode: forwards;
}

.fade2 {
    animation: fade-in 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.fade3 {
    animation: fade-in 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.fade4 {
    animation: fade-in 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.fade5 {
    animation: fade-in 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}
.fade6 {
    animation: fade-in 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}
.fade7 {
    animation: fade-in 3s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}
.fade8 {
    animation: fade-in 3s;
    animation-delay: 7s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    background-color: #05040a;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em 0;
    font-size: 160%;
}

footer a {
    color: #ffffff;
}

footer a:nth-child(5n) {
    font-size: 50%;
    margin-top: 8px;
}

/* Media query for large mobile users */
@media screen and (max-width: 600px) {
    .tl-image-l, .tl-image-r {
        left: 0;
    }

    .left-container, .right-container {
        left: 30px;
    }

    .v-line {
        left: 30px;
        height: 1400px;
    }

    @keyframes moveline {
        0% {
            height: 0%;
        }
        100% {
            height: 1400px;
        }
    }

    .content {
        width: 280px;
    }
}


/* Media query for tablets */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1em;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1em;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 100px;
        margin: 0 1rem;
    }

    #main-content {
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        margin: 5% 30% 5% 5%;
        box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 2%;
        padding: 5%;
    }

    #yt-video {
        text-align: center;
        margin: 0 5% 5% 30%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.2);
        border-radius: 2%;
        padding: 2%;
    }

    table {
        width: 70%;
        margin-left: 15%;
    }

    iframe {
        width: 448px;
        height: 252px;
    }

@media screen and (min-width: 992px) {
    #main-content {
        margin: 2% 20%;
    }

    th, td {
        padding: 20px;
    }

    #yt-video {
        margin: 2% 20%;
    }

    iframe {
        width: 100%;
        height: 500px;
    }

    .content {
        width: 400px;
    }

    .left-container {
        display: flex;
        justify-content: flex-end;
    }
}
}